<!DOCTYPE html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href="/static/home.css" type="text/css"/>
		<meta name="format-detection" content="telephone=no"/>
		<!--<meta name = "viewport" content="width=device-width, initial-scale=1.0"/>--!>
	</head>
	<body>
		<div class = "main_body">
			<div id="central">
				<table width=50% align="center">
					<tr>
						<td class="isstd"><a href= "/iss"><span>ISS Information</span></a></td></a>
					</tr>
					<tr>
						<td class="covtd"><span>COVID-19 Data and Visualisations</span></td>
					</tr>
					<tr>
						<td>Something else</td>
					</tr>
					<tr>
						<td>Something More</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
